@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-top {
  color: $black;
  font-weight: 600;
  @include transitionsall;

  @include hover {
    color: $primary;
  }
}

.btn-hamburger {
  @include square(36);
  @include border(solid, 1.5, $secondary);
  @include radius(4);
  font-size: size(20);
  color: $secondary;
  @include flex-center;
  padding: size(4);
  text-align: center;

  @include hover {
    @include setBgColor($secondary, $white);
  }
}

.btn-intro {
  background: $white;
  @include border(solid, 1, $headerborder);
  @include radius(32);
  @include flex-center;
  gap: size(10);
  width: size(186);
  height: size(42);
  padding-inline: size(16);

  .btnicon {
    @include square(20);
    @include flex-center;
    overflow: hidden;
  }

  .btntext {
    color: $textcolor;
    font-size: size(13);
    font-weight: 600;
    line-height: 1;
  }

  @include hover {
    background: $hoverbg;
  }
}