@use "../../global" as *;
@use "../../partials" as *;

.cardcourse {
  background: $white;
  box-shadow: $cardshade;
  @include radius(16);
  @include flex-center-column;
  gap: size(10);
  padding: size(20);
  @include h100;
  @include transitiontransform;

  &-icon {
    background: $secondary;
    @include radius(5);
    @include square(64);
    @include flex-center;
    overflow: hidden;
    padding: size(16);

    img {
      object-fit: contain;
    }
  }

  &-detail {
    @include flex-center;
    text-align: center;

    .titlebox {
      @include flex-center-vert;
      height: size(48);
      overflow: hidden;
    }

    .coursetitle {
      color: $black;
      font-size: size(16);
      font-weight: 600;
      line-height: 1.5;
      @include flex-center-vert;
      height: 100%;
    }
  }

  @include hover {
    @include translateY(size(-10));
  }
}

.cardcoursemap {
  background: $white;
  box-shadow: $cardshadow;
  @include border(solid, 1, $headerborder);
  padding: size(20);
  @include wh100;

  .coursemaptext {
    color: $textcolor;
    font-size: size(16);
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
}

.cardsupportchannel {
  background: $white;
  box-shadow: $cardshade;
  @include radius(16);
  @include flex-center-column;
  gap: size(16);
  padding: size(32);
  @include wh100;
  text-align: center;
  @include transitiontransform;
  
  .supporticon {
    color: $black;
    font-size: size(64);
  }

  .title {
    color: $secondary;
    font-size: size(24);
    font-weight: 500;
  }

  @include hover {
    @include translateY(size(-10));
  }
}