@use "../../global" as *;
@use "../../partials" as *;

.cardcourse {
  background: $bgprimary;
  @include radius(16);
  @include flex-center-column;
  gap: size(10);
  padding: size(20);
  @include h100;
  @include transitiontransform;

  &-icon {
    @include square(64);
    @include flex-center;
    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  &-detail {
    @include flex-center;
    text-align: center;

    .titlebox {
      @include flex-center-vert;
      height: size(48);
      overflow: hidden;
    }

    .coursetitle {
      color: $white;
      font-size: size(16);
      font-weight: 600;
      line-height: 1.5;
      @include flex-center-vert;
      height: 100%;
    }
  }

  @include hover {
    @include translateY(size(-10));
  }
}

.cardcoursemap {
  @include wh100;

  .coursemaptext {
    color: $textcolor;
    font-size: size(16);
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
}