$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(353, 100%, 48%); //#F3001C
$secondary: hsl(0, 0%, 30%); //#4D4D4D

// BACKGROUND-COLORS
$bgprimary: hsl(0, 100%, 50%); //#FF0000
$footermenubg: hsl(216, 53%, 26%); //#1F3B64
$copyrightbg: hsl(216, 53%, 22%); //#1A3255
$showcasebg: hsl(217, 44%, 96%); //#F2F5FA
$hoverbg: rgb(248, 250, 252/1);
$scrollbarbg: hsl(213, 27%, 84%); //#CBD5E1
$scrollbarhoverbg: hsl(0, 0%, 50%); //#7F7F7F
$stickybg: rgba(248,250,252,.6);
$starbg: hsl(47, 100%, 50%); //#ffc600

$gradientbg: linear-gradient(180deg,#f8fafc,rgba(242,202,252,.11) 34.69%,rgba(250,198,252,.11) 44.06%,rgba(175,183,255,.11) 54.48%,rgba(142,220,200,.07) 64.9%,#f8fafc 97.95%);
$primarygradient: linear-gradient(135deg, #ff0844 0%, #ffb199 100%);

// TEXT-COLORS
$textprimary: hsl(0, 0%, 20%); //#333
$textsecondary: hsl(0, 0%, 40%); //#666
$headingtext: hsl(220, 5%, 12%); //#1C1D1F
$selectcolor: hsl(0, 4%, 25%); //#413C3C
$activecolor: hsl(220, 23%, 97%); //#F7F8FA
$titlecolor: hsl(222, 47%, 11%); //#0f172a
$textcolor: hsl(215, 25%, 27%); //#334155
$username: hsl(218, 8%, 54%); //#818894
$textdarkblue: hsl(245, 58%, 18%); //#171347

$test: rgb(90, 181, 161);

$danger: hsl(0, 91%, 54%); //#F51F1F

// BORDER-COLORS
$headerborder: rgba(71, 85, 105, 0.1);
$footerborder: hsl(216, 51%, 39%); //#305995
$maskborder: hsl(0, 0%, 44%); //#707070

// SHADOWS
$shadow-1: hsl(252, 26%, 89%); //#DEDBEA

// BOX-SHADOWS
$cardshadow: 0 .25rem .625rem 0 $shadow-1;
$cardshade: 0 .1875rem 1.875rem 0 rgba($black, 0.1);
$btnshadow: 0 1.25rem .75rem 0 rgba($black, 0.1);
$cardshade-2: 0 .3125rem .75rem 0 rgba($black, 0.1);
$progressshadow: 0 .1875rem .375rem 0 rgba($black, 0.16);