@use "../global" as *;
@use "../partials" as *;

.container-fluid {
  padding-inline: size(24);

  @include breakpoint(desktop1024) {
    padding-inline: size(48);
  }
}

.showcase {
  padding: size(24) size(8) size(48);
  background: $showcasebg;

  .topicon {
    @include square(48);
    @include circle;
    @include flex-center;
    overflow: hidden;
  }

  .showcasedetails {
    @include flex-column;
    gap: size(24);

    @include breakpoint(tablet991) {
      margin-bottom: size(32);
    }

    &-header {
      .info {
        @include breakpoint(tablet991) {
          text-align: center;
        }

        .title {
          color: $black;
          font-size: size(16);
          font-weight: 600;
          line-height: 1.5;
        }
        
        .subtitle {
          color: $textcolor;
          font-size: size(14);
          font-weight: 600;
          line-height: 1.4;
        }
      }
    }

    &-body {
      @include flex-column;
      gap: size(24);

      @include breakpoint(tablet991) {
        align-items: center;
        text-align: center;
      }

      .text {
        color: $textcolor;
        font-size: size(18);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  &-video {
    @include radius(8);
    @include flex-center;
    overflow: hidden;
    height: size(350);

    @include breakpoint(tablet991) {
      width: size(300);
      height: size(168);
      margin-inline: auto;
    }

    iframe {
      @include wh100;
    }
  }
}

.maintitle {
  color: $titlecolor;
  font-size: size(40);
  font-weight: 700;
  line-height: 1.4;

  span {
    font: inherit;
    line-height: inherit;
  }
}

.aboutcourse {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

  &-header {
    @include flex-center;

    .maintitle {
      text-align: center;
    }
  }

  &-body {
    @include w100;
    @include flex-center-vert;
    gap: size(20);
    flex-wrap: wrap;

    .cardcourse {
      width: 100%;

      @include breakpoint(mobile576) {
        width: calc((100% / 2) - size(20));
      }

      @include breakpoint(mobile768) {
        width: calc((100% / 3) - size(20));
      }

      @include breakpoint(tab992) {
        width: calc((100% / 4) - size(20));
      }

      @include breakpoint(desktop1200) {
        width: calc((100% / 5) - size(20));
      }
    }
  }
}