@use '../global' as *;
@use '../partials' as *;

.container-fluid {
  padding-inline: size(24);

  @include breakpoint(desktop1024) {
    padding-inline: size(48);
  }
}

.showcase {
  padding: size(24) size(8) size(48);
  background: $showcasebg;

  .topicon {
    @include square(48);
    @include circle;
    @include flex-center;
    overflow: hidden;
  }

  .showcasedetails {
    @include flex-column;
    gap: size(24);

    @include breakpoint(tablet991) {
      margin-bottom: size(32);
    }

    &-header {
      .info {
        @include breakpoint(tablet991) {
          text-align: center;
        }

        .title {
          color: $black;
          font-size: size(16);
          font-weight: 600;
          line-height: 1.5;
        }

        .subtitle {
          color: $textcolor;
          font-size: size(14);
          font-weight: 600;
          line-height: 1.4;
        }
      }
    }

    &-body {
      @include flex-column;
      gap: size(24);

      @include breakpoint(tablet991) {
        align-items: center;
        text-align: center;
      }

      .text {
        color: $textcolor;
        font-size: size(18);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  &-video {
    @include radius(8);
    @include flex-center;
    overflow: hidden;
    height: size(350);

    @include breakpoint(tablet991) {
      width: size(300);
      height: size(168);
      margin-inline: auto;
    }

    iframe {
      @include wh100;
    }
  }
}

.maintitle {
  color: $titlecolor;
  font-size: size(40);
  font-weight: 700;
  line-height: 1.2;

  span {
    font: inherit;
    line-height: inherit;
  }
}

.aboutcourse {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

  &-header {
    @include flex-center;

    .maintitle {
      text-align: center;
    }
  }

  &-body {
    @include w100;
    @include flex-center-vert;
    gap: size(20);
    flex-wrap: wrap;

    .cardcourse {
      width: 100%;

      @include breakpoint(mobile576) {
        width: calc((100% / 2) - size(20));
      }

      @include breakpoint(mobile768) {
        width: calc((100% / 3) - size(20));
      }

      @include breakpoint(tab992) {
        width: calc((100% / 4) - size(20));
      }

      @include breakpoint(desktop1200) {
        width: calc((100% / 5) - size(20));
      }
    }
  }
}

.coursemodule {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

  .verticaltimeline {
    max-height: size(350);
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbarbg;
      @include radius(8);
    }
  }

  .timeline {
    @include list-vertical;

    li {
      position: relative;
      padding: size(0) size(24) size(24);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: size(3);
        background: $primary;
        left: size(12);
        height: 100%;
      }

      &:last-child {
        &::before {
          background: $white;
        }
      }
    }

    &-details {
      padding-left: size(16);

      h3 {
        color: $textcolor;
        font-size: size(16);
        font-weight: 600;
        line-height: 1;
        margin-bottom: size(5);
      }
      
      .info {
        margin-bottom: size(5);
      }

      .infotext {
        color: $textcolor;
        font-size: size(14);
        font-weight: 400;
        line-height: 1.4;
      }

      .badgesinfo {
        @include flex-column;
        gap: size(8);
      }

      .timelistbadges {
        @include flex-center-vert;
        gap: size(8);
        flex-wrap: wrap;
      }

      .timelinebadge {
        @include setBgColor($white, $primary);
        @include border(solid, 1, $primary);
        @include radius(32);
        @include flex-center;
        font-size: size(13);
        height: size(28);
        font-weight: 700;
        line-height: 1;
        letter-spacing: size(0.25);
        padding-inline: size(14);
        text-align: center;
      }
    }
    
    &-counter {
      @include setBgColor($primary, $white);
      @include circle;
      @include square(24);
      @include flex-center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .modulethumb {
    @include breakpoint(tab992) {
      max-width: 75%;
    }
  }
}

.courseroadmap {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }
}

.instructors {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

  &-body {
    @include flex-column;
    gap: size(80);
  }

  .instructorthumb {
    @include w100;
    @include flex-center;
    @include radius(10);
    overflow: hidden;

    @include breakpoint(desktop1400) {
      max-height: size(360);
    }

    img {
      @include w100;
      object-fit: contain;
    }
  }

  .instructordetails {
    @include flex-column;
    gap: size(24);

    @include breakpoint(mobile767) {
      text-align: center;
    }

    .instructorname {
      color: $black;
      font-weight: 600;
    }

    .details {
      max-width: size(400);

      .instructortext {
        color: $textcolor;
        font-size: size(16);
        font-weight: 400;
        line-height: 1.4;

        @include breakpoint(desktop1400) {
          font-size: size(18);
        }
      }
    }
  }
}

.supportchannel {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }
}

.coursereview {
  background: $gradientbg;
  @include border-single(top, solid, 1.5, $headerborder);
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }
}

.faqsection {
  padding: size(48) size(8);

  .faqinfo {
    @include flex-column;
    gap: size(24);
  }

  .faqthumb {
    max-width: 75%;

    @include breakpoint(tab992) {
      max-width: 50%;
    }
  }

  .faqdetail {
    max-height: size(400);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: size(4);

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbarbg;
      @include radius(8);
    }

    .accordion {
      @include flex-column;

      &-item {
        border: none;

        &:first-of-type,
        &:last-of-type {
          .accordion-button {
            @include radius(0);
          }
        }
      }
      
      &-button {
        @include radius(0);
        @include border-single(bottom, solid, 1, $headerborder);
        font-weight: 500;
        padding: size(12) size(16);
        box-shadow: none;
        outline: none;

        &:not(.collapsed) {
          @include setBgColor($secondary, $white);
          box-shadow: none;
          outline: none;

          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          }
        }

        &:hover {
          @include setBgColor($secondary, $white);

          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          }
        }
      }

      &-body {
        @include border-single(bottom, solid, 1, $headerborder);
        padding: size(8) size(16) size(16);

        .faqtext {
          color: $textcolor;
          font-size: size(15);
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}

.appdownload {
  background: $showcasebg;
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

  .appthumb {
    max-width: size(300);
    margin-inline: auto;
  }

  .downloadinfo {
    @include flex-column;
    gap: size(24);

    .detail {
      @include flex-column;
      gap: size(48);
    }
  }
}

.downloadlink {
  @include setBgColor($secondary, $white);
  @include radius(32);
  padding: size(8) size(16);
  @include flex-center;
  gap: size(8);
  width: size(160);
  height: size(42);
  @include transitionsall;

  .linkicon {
    @include square(20);
    @include flex-center;
    overflow: hidden;
  }

  .linktext {
    color: $white;
    font-size: size(13);
    font-weight: 600;
    line-height: 1;
  }

  @include hover {
    background: $primary;
  }
}

.home-sections {
  position: relative;
  margin: size(120) size(0);

  @include breakpoint(tablet991) {
    margin: size(80) size(0);
  }
  
  .home-video-container {
    padding-top: size(194);
    padding-bottom: size(94);
    background-repeat: no-repeat;
    background-size: cover;
    @include radius(15);
    z-index: 100;
  
    @include breakpoint(tablet991) {
      padding-top: size(94);
    }
  
    @media (max-width: 47.9375rem) {
      background-size: contain;
      border-radius: 0;
    }
  
    .home-video-title {
      color: $white;
      font-size: size(24);
      font-weight: 700;
      line-height: 1.22;
    }
  
    .home-video-hint {
      color: $white;
      font-size: size(16);
      font-weight: normal;
      line-height: 1.19;
      pointer-events: none;
    }
  
    .mt-50 {
      margin-top: size(50);
    }
  
    .mt-10 {
      margin-top: size(10);
    }
  
    .pt-10 {
      padding-top: size(10);
    }
  }

  .home-video-mask {
    height: size(300);
    background: $footermenubg;
    @include border(solid, 1, $maskborder);
    @include w100;
    position: absolute;
    top: 50%;
    @include translate(0, -50%);
  }
}

.coursesection {
  padding: size(48) size(8);

  &-content {
    @include flex-center-column;
    gap: size(32);
  }

}