@use "../global" as *;
@use "../partials" as *;

.brandlogo {
  width: size(150);
  height: size(50);
  @include flex-center;
  overflow: hidden;

  @include breakpoint(mobile768) {
    width: size(170);
  }

  img {
    @include wh100;
    object-fit: cover;
  }
}

.marked {
  color: $bgprimary;
}

.parallax {
  position: relative;
  @include translateY(size(48));
  opacity: 1;
  transition: 1s all ease;

  &.active {
    @include translateY(0);
    opacity: 1;
  }
}
