@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 1.5, $headerborder);
  height: size(64);
  @include flex-center-vert;

  &.sticky-top {
    background: $stickybg;
    backdrop-filter: blur(size(40));
  }
}